@using FreelancerMarketPlace1.Models.Model
@model MyProfile
@{
    ViewData["Title"] = "MyProfileIndex";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<div class="breadcrumb-list">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><img src="~/template-html/assets/img/home-icon.svg" alt=""> Home</a></li>
							<li class="breadcrumb-item" aria-current="page">Employers</li>
							<li class="breadcrumb-item active" aria-current="page">COMPANY PROFILE</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Profile Banner -->
<section class="profile-baner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-auto">
				<div class="profile-img">
					<img src="@Model.CompanyLogo" alt="">
				</div>
			</div>
			<div class="col">
				<div class="profile-main">
					<h2>@Model.CompanyName<i class="fas fa-check-circle"></i></h2>
					<p>@Model.MembershipDate</p>
					<div class="about-list">
						<ul>
							<li><img src="~/template-html/assets/img/en.png" alt="Lang"> @Model.Country</li>
							<li><i class="fas fa-map-marker-alt"></i> @Model.City, @Model.Country</li>
						</ul>
					</div>
					<div class="rating">
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star "></i>
						<i class="fas fa-star"></i>
						<span class="average-rating">4.6 (25)</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="pro-info-right profile-inf">
					<a class="btn profile-edit-btn" href="#">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Profile Banner -->
<!-- Page Content -->
<div class="content">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 col-md-12">

				<div class="pro-view">

					<!-- Tab Detail -->
					<nav class="provider-tabs abouts-view">
						<ul class="nav nav-tabs nav-tabs-solid nav-justified">
							<li class="nav-item">
								<a class="nav-link active-about" href="company-profile.html">
									<img src="~/template-html/assets/img/icon/tab-icon-01.png" alt="User Image">
									<p class="bg-red">About Us</p>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="~/template-html/company-project.html">
									<img src="~/template-html/assets/img/icon/tab-icon-09.png" alt="User Image">
									<p>Projects</p>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="~/template-html/company-gallery.html">
									<img src="~/template-html/assets/img/icon/tab-icon-10.png" alt="User Image">
									<p>Gallery</p>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="~/template-html/company-review.html">
									<img src="~/template-html/assets/img/icon/tab-icon-11.png" alt="User Image">
									<p>Reviews</p>
								</a>
							</li>
						</ul>
					</nav>
					<!-- /Tab Detail -->
					<!-- About Tab Content -->
					<div class="pro-post widget-box company-post abouts-detail">
						<h3 class="pro-title">About US</h3>
						<div class="pro-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. </p>
							<p>Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
							<p>Intrinsically incubate intuitive opportunities and real-time potentialities Appropriately communicate one-to-one technology.</p>
							<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
						</div>
					</div>
					<!-- /About Tab Content -->

				</div>
			</div>

			<!-- profile Sidebar -->
			<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar company-profile">

				<!-- About Widget -->
				<div class="pro-post widget-box about-widget profile-overview">
					<div class="profile-head">
						<h4 class="pro-title mb-0">Profile Overview</h4>
					</div>
					<ul class="latest-posts pro-content">
						<li><p>Company Name</p><h6>@Model.CompanyName</h6></li>
						<li><p>Company Established</p><h6>@Model.CompanyEstablishDate</h6></li>
						<li><p>Email</p><h6>@Model.Email</h6></li>
						<li><p>Website</p><h6>@Model.WebSite</h6></li>
					</ul>
					<div class="contact-btn">
						<a href="#" class="btn btn-primary"><i class="fas fa-phone-alt"></i> Contact</a>
					</div>
				</div>
				<!-- /About Widget -->
				<!-- Company Location -->
				<div class="pro-post widget-box location-widget">
					<div class="profile-head">
						<h4 class="pro-title">Company Location</h4>
					</div>
					<div class="map-location">
						<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"></iframe>
					</div>
				</div>
				<!-- /Company Location -->
				<!-- Social Widget -->
				<div class="pro-post widget-box social-widget">
					<div class="profile-head">
						<h4 class="pro-title">SOCIAL LINKS</h4>
					</div>
					<ul class="social-link-profile">
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- /Social Widget -->

			</div>
			<!-- /Profile Sidebar -->

		</div>
	</div>
</div>
<!-- /Page Content -->